/* Hero Section Styles */
#hero {
  padding: 8rem 2rem 4rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/duksfvujv/image/upload/v1693737378/lavndes_bho1kh.jpg);
  background-position: center;
  background-size: cover;
}

.hero-content {
  max-width: 800px;
}

#hero h1 {
  color: var(--color-white);
}

#hero h2 {
  color: var(--color-white);
  line-height: 1.6;
  font-size: 1.4rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
