---
import '../styles/Hero.css';
---

<section id="hero" aria-label="Présentation">
  <div class="hero-content">
    <h1>Les fruits de Bésignan</h1>
    <p class="hero-subtitle">Découvrez nos fruits ensoleillés et les plantes aromatiques issus de nos vergers nichés en plein cœur du Parc Naturel des Baronnies Provençales</p>
    <div class="hero-buttons">
      <a href="#produits" class="primary-button">Découvrir nos produits</a>
      <a href="#contact" class="secondary-button">Commander maintenant</a>
    </div>
  </div>
</section>
