---
import '../styles/Hero.css';
---


<section id="hero">
  <div class="hero-content">
    <h1>Les fruits de Bésignan</h1>
    <h2>Découvrez nos fruits ensoleillés et les plantes à parfum issus de nos vergers nichés en plein coeur du parc naturel des Baronnies provençales</h2>
    <div class="hero-buttons">
      <a href="#produits" class="primary-button">Découvrir nos produits</a>
      <a href="#contact" class="secondary-button">Commander maintenant</a>
    </div>
  </div>
</section> 