---
import '../styles/Pricing.css';
---
<section id="tarifs" class="section bg-light">
  <div class="container-with-bg">
    <h2 class="section-title">Nos lieux de vente</h2>
    <div class="pricing-grid">
      <div class="pricing-card">
        <h3>À la ferme</h3>
        <div class="price">25€</div>
        <ul>
          <li>Toute l'année</li>
          <li>Si possible, contactez-nous avant nous sommes jamais très loin</li>
        </ul>
        <a href="#contact" class="pricing-button">Commander</a>
      </div>
      <div class="pricing-card">
        <div class="popular"></div>
        <h3>Sur les marchés</h3>
        <div class="price">45€</div>
        <ul>
          <li>Serres (05) - samedi matin de mars à décembre</li>
          <li>Séderon (26) - dimanche matin de juin à août</li>
        </ul>
        <a href="#contact" class="pricing-button">Commander</a>
      </div>
    </div>
  </div>
</section> 