---
import '../styles/Pricing.css';
---
<section id="Seasonnal" class="section bg-light">
  <div class="container-with-bg">
    <h2 class="section-title">Nos Fruits de Saison</h2>
    <div class="seasonal-fruits-layout">
      <div class="fruits-image">
        <img src="" alt="Fruits de saison" />
      </div>
      <div class="fruits-details">
        <div class="season-list">
          <div class="season-item">
            <h4>Abricots</h4>
            <p>Orangé de Provence, Digat, Orangered</p>
          </div>
          <div class="season-item">
            <h4>Abricots pour confiture</h4>
            <p>À partir d'1€ par kilo</p>
          </div>
      </div>
    </div>
  </div>
</section> 