---
import '../styles/Pricing.css';
---
<section id="tarifs" class="section bg-light">
  <div class="container-with-bg">
    <h2 class="section-title">En cette saison</h2>
    <div class="pricing-grid">
      <div class="pricing-card">
        <h3>Abricots</h3>
        <div class="price">3,5 euros/kg</div>
        <a href="#contact" class="pricing-button">Commander</a>
      </div>
      <div class="pricing-card">
        <h3>fruits pour confiture</h3>
        <div class="price">À partir 1euro/kg</div>
        <a href="#contact" class="pricing-button">Commander</a>
      </div>
    </div>
  </div>
</section> 