---
import '../styles/Products.css';
---
<section id="produits" class="section">
  <div class="container">
    <h2 class="section-title">Nos Produits d'Exception</h2>
    <div class="products-grid">
     <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751127326/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.13.26_vsisvn.png" alt="Fruits de saison" />
        <h3>Fruits de saison</h3>
        <p>Récoltées à maturité optimale dans nos vergers ensoleillés. Fruits de tables ou pour la confiture</p>
        <div class="price">Cerises en juin, abricots juin/juillet, poires septembre, coings octobre.</div>
      </div>
     
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751127326/sirop.png" alt="Confitures et Sirops" />
        <h3>Confitures et Sirops</h3>
        <p>Cerise, Abricot, Abricot-lavande, Poire-vanille-canelle, Coing et Menthe</p>
        <div class="price"> Confitures 3,20€/pot 200g</div>
        <div class="price"> Confitures cerise ou coing 6€/pot 330g</div>
        <div class="price"> Sirops 4,10€/bouteille de 50cl</div>
      </div>
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751128075/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.14.13_zzh1yc.png" alt="Jus et nectars" />
        <h3>Jus et nectars</h3>
        <p>Abricot, Pêche-Abricot, Pomme-Coings, Poires, Pommes-Poires et Cerises</p>
        <div class="price">3,20€ la bouteille</div>
        <div class="price">19€ le carton de 6 bouteilles</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="products-grid">
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/duksfvujv/image/upload/v1696661771/almonds_o2ulpu.jpg" alt="Amandes et Amandons" />
        <h3>Amandes et Amandons</h3>
        <p>En coques ou en sachet d'amandons</p>
        <div class="price">Coques 6,00€/kg</div>
        <div class="price">Amandons 4,50€/sachet 200g</div>
        <div class="price">Amandons 11,00€/sachet 500g</div>
      </div>
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751128075/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.14.13_zzh1yc.png" alt="Moutardes et pesto" />
        <h3>Moutardes et pesto</h3>
        <p>Moutarde aux amandes et pesto rouge aux amandes</p>
        <div class="price">Moutarde 4,20€/pot 180g</div>
        <div class="price">Pesto 3,50€/pot 90g</div>
      </div>
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751128073/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.14.03_kmotvp.png" alt="Herbes de Provence" />
        <h3>Herbes de Provence</h3>
        <p>Mélange de Thym, romarin, sariette, sauge, origan (bio) issues de nos parcelles ou de la cueillette sauvage.</p>
        <div class="price">5,00€/sachet de 40g</div>
      </div>
    </div>
  </div>
</section> 