---
import '../styles/Products.css';
---
<section id="produits" class="section">
  <div class="container">
    <h2 class="section-title">Nos Produits d'Exception</h2>
    <div class="products-grid">
     <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751127326/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.13.26_vsisvn.png" alt="Fruits de saison" />
        <h3>Fruits de saison</h3>
        <p>Récoltées à maturité optimale dans nos vergers ensoleillés. Fruits de tables ou pour la confiture</p>
        <div class="price">À partir de 3,50€/kg</div>
      </div>
     
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751127326/sirop.png" alt="Confitures et Sirops" />
        <h3>Confitures et Sirops</h3>
        <p>Cerises, Abricot, Abricot-lavande, Poire-vanille-canelle, Coing et Menthe</p>
        <div class="price"> Confiture 3,20€/pot de g</div>
        <div class="price"> Confiture 6€/pot de g</div>
        <div class="price"> Sirop 4,5€/bouteille de X ml</div>
      </div>
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751128075/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.14.13_zzh1yc.png" alt="Jus et nectars" />
        <h3>Jus et nectars</h3>
        <p>Abricot, Pêche-Abricot, Pomme-Coings, Poires, Pommes-Poires et Cerises</p>
        <div class="price">3,20€/bouteille</div>
        <div class="price">12€/carton de 6 bouteilles</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="products-grid">
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/duksfvujv/image/upload/v1696661771/almonds_o2ulpu.jpg" alt="Amandes et Amandons" />
        <h3>Amandes et Amandons</h3>
        <p>En coques ou en sachet d'amandons</p>
        <div class="price">Coques 8€/kg</div>
        <div class="price">Amandons 8€/sachet 250g</div>
        <div class="price">Amandons 8€/sachet 500g</div>
      </div>
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751128075/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.14.13_zzh1yc.png" alt="Moutardes et pesto" />
        <h3>Moutardes et pesto</h3>
        <p>Moutarde aux amandes et pesto rouge aux amandes</p>
        <div class="price">Moutarde 6€/pot de 300g</div>
        <div class="price">Pesto 3,20€/pot de 300g</div>
      </div>
      <div class="product-card">
        <img class="product-image" src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1751128073/Capture_d_e%CC%81cran_2025-06-28_a%CC%80_18.14.03_kmotvp.png" alt="Herbes de Provence" />
        <h3>Herbes de Provence</h3>
        <p>Mélange de Thym, romarin, sariette, sauge, origan (bio) issues de nos parcelles ou de la cueillette sauvage.</p>
        <div class="price">12€/sachet de 40g</div>
      </div>
    </div>
  </div>
</section> 