---
import '../styles/SalesPoints.css';
---
<section id="SalesPoints" class="section">
  <div class="container">
    <h2 class="section-title">Nos Points de Ventes</h2>
    <div class="sales-points-grid">
      <div class="sales-point-card">
        <p>À la ferme</p>
        <div class="sales-point-detail">Contactez-nous si possible avant nous sommes jamais très loin</div>
        <div class="sales-point-detail">Ouvert toute l'année</div>
      </div>
      <div class="sales-point-card">
        <p>Marchés</p>
        <div class="sales-point-detail">Serres (05) de Mars à Décembre</div>
        <div class="sales-point-detail">Séderon (26) de Juin à Août</div>
      </div>
      <div class="sales-point-card">
        <p>Foires saisonnières</p>
        <div class="sales-point-detail">Foire de Saoû - Novembre</div>
        <div class="sales-point-detail">Journée gourmande Bésignan - 1er Dimanche de Juin</div>
      </div>
    </div>
  </div>
</section> 