---
import '../styles/SeasonOffer.css';
---
<section id="Seasonnal" class="section bg-light">
  <div class="container-with-bg">
    <h2 class="section-title">Nos Fruits de Saison</h2>
    <div class="seasonal-fruits-layout">
      <div class="fruits-image">
        <img src="https://res.cloudinary.com/dgkrgabdc/image/upload/v1759602173/Capture_d_e%CC%81cran_2025-10-04_a%CC%80_20.22.23_xyyquj.png" alt="Fruits de saison" />
      </div>
      <div class="fruits-details">
        <div class="season-list">
          <div class="season-item">
            <h3>Amandes</h3>
            <p>variété Feragnès, Feraduel et Lauranne</p>
            <!-- <p>variété Louise-bonne, de bouche, pour compote et confitures</p> -->
            <!-- <div class="price">À partir de 3,50€/kg</div> -->
          </div>
          <div class="season-item">
            <h3>Confitures, nougat, moutardes </h3>
            <p>Découvrez toute notre gamme de confitures, nougats et moutardes</p>
            <!-- <div class="price">À partir d'1,20€ par kilo</div> -->
          </div>
      </div>
    </div>
  </div>
</section> 