---
import '../styles/Testimonials.css';
---
<section id="temoignages" class="section">
  <div class="container">
    <h2 class="section-title">Nos points de ventes</h2>
    <div class="testimonials-grid">
      <div class="testimonial-card">
        <p>À la ferme</p>
        <p>Contactez-nous si possible avant nous sommes jamais très loin</p>
        <div class="testimonial-author">Ouvert toute l'année</div>
      </div>
      <div class="testimonial-card">
        <p>Marchés</p>
        <div class="testimonial-author">Serres (05) de Mars à Décembre</div>
        <div class="testimonial-author">Séderon (26) de Juin à Août</div>
      </div>
      <div class="testimonial-card">
        <p>Foires saisonnières</p>
        <div class="testimonial-author">Foire de Saoû - Novembre</div>
        <div class="testimonial-author">Journée gourmande Bésignan - 1er Dimanche de Juin</div>
      </div>
    </div>
  </div>
</section> 