---
import NavBar from './NavBar.astro';
import Hero from './Hero.astro';
import Products from './Products.astro';
import Benefits from './Benefits.astro';
import SalesPoints from './SalesPoints.astro';
import SeasonOffer from './SeasonOffer.astro';
import Contact from './Contact.astro';
import Footer from './Footer.astro';

import '../styles/global.css';
---

<div id="container">
	<NavBar />
	<main>
		<Hero />
		<Products />
		<SeasonOffer />
		<Benefits />
		<SalesPoints />
		<Contact />
	</main>
	<Footer />
</div>
